---
import Hero from "../components/hero"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Harmony: go from design to production *fast*</title>
	</head>
	<body>
		<Hero />
	</body>
</html>
